---
layout: default
title: Overview
class: overview
nav-order: 1
intro:  >
        <p class="lead-paragraph">Wintery rural wonders set about the towering, snow capped peaks of the Alps signal arrival in Switzerland, a winter wonderland that at every turn is picture-postcard perfect.</p>
        <p>From alpine tradition to modern urban flair, Switzerland seamlessly intertwines old and new, catering for a vast range of tastes. Snowy chalets and cosy mountain pubs, cable cars and cuckoo clocks – tropes all found on the mountainside, sat next to bustling cities and chic ski resorts packed with contemporary art, fine dining, boutique shopping and trendy rooftop bars. Switzerland is truly a place of variety, ready for any type of traveller. If your winter dream is sailing down mountainsides and winding down after in the hot tub, or wrapping up warm and exploring christmas markets and dipping into contemporary galleries, Switzerland accommodates.  </p>
---



<section class="banner site-header__offset" style="background-image: url({{site.baseurl}}/img/bg/bg-{{page.class}}.jpg);">

  <div class="banner__wrap row row--padding">
    <h1>
      <img class="js-svg-swap banner__title-image" src="{{ site.baseurl }}/img/content/title.png" alt="{{ page.title }}">
    </h1>
  </div>

  <div class="banner__description">
    <div class="row row--padding align-center">
      {{ page.intro }}
    </div>
  </div>

</section>

<section class="bg-color bg-color-correct">
  <div class="row row--padding row--columns-6-6-gutters row--columns-vertical-align column-overlap">
    <div class="row__column column-overlap__text">
      <h2>Why Switzerland?</h2>
      <p>As the snow falls heavier over the iconic peaks of the beloved Alps, travellers are itching to pack those skis and head to the slopes. Who can blame them? This breathtaking landscape inspires a wintery wanderlust for frolicking in the snow. Once experienced, it’s hard to not to visit every year! </p>
      <p>With SWISS offering free ski equipment transport, plus tickets from as little as £49 one-way*, you’ll be treated to warm, Swiss hospitality before you’ve even landed. It’s the little differences, after all.</p>
      <h5>SWISS flights from £49 one-way*</h5>
      <a href="https://ad.doubleclick.net/ddm/trackclk/N9207.1692340SECRETESCAPES.COM/B10463975.139728219;dc_trk_aid=311980533;dc_trk_cid=75301610;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=" class="btn btn--red">Book now</a>
    </div>
    <div class="row__column column-overlap__image">
      <div class="img-block">
        <div class="img-block__major bg-image-ratio bg-image-ratio--3-2" style="background-image: url('{{site.baseurl}}/img/content/why-1.jpg');"></div>
        <div class="img-block__minor">
          <div class="img-block__image bg-image-ratio bg-image-ratio--3-2" style="background-image: url('{{site.baseurl}}/img/content/why-2.jpg');"></div>
          <div class="img-block__image bg-image-ratio bg-image-ratio--3-2" style="background-image: url('{{site.baseurl}}/img/content/why-3.jpg');"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section--padding overview-nav overlap--large">
  <div class="row row--padding">
    <!-- gets all content sections -->
    {% assign largenav = site.pages | sort:"nav-order" %}
    {% for item in largenav %}
    {% if item.home-link %}
      <div class="overview-nav__item row__column overlap__image" style="background-image: url('{{site.baseurl}}/img/bg/bg-{{item.class}}.jpg');">
        <a class="overview-nav__link" href="{{site.baseurl}}{{ item.url }}">
          <span class="overview-nav__wrap">{{item.title}}</span>
        </a>
      </div>
    {% endif %}
    {% endfor %}

  </div>
</section>


{% include competition-section.html %}


<!-- SWISS Promo -->
<div class="page-section page-section--padding swiss-promo">

  <div class="row row--padding row--columns-6-6">
    <div class="row__column">
      <h3>Flying with SWISS</h3>
      <p>SWISS is set to perfect your Winter wanderlust with warm Swiss hospitality. Make your journey as comfortable as possible, with free ski equipment transport ready to take the load off. Fly to your Swiss adventure from as little as £49 one-way*, and realise your perfect Winter wonderland today. </p>
      <a href="https://ad.doubleclick.net/ddm/trackclk/N9207.1692340SECRETESCAPES.COM/B10463975.139728219;dc_trk_aid=311980533;dc_trk_cid=75301610;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=" class="btn btn--red">Book now</a>
    </div>
  </div>

</div>



<div class="hidden">

  <script type="text/javascript">

    var ord = Number(ord) || Math.floor(Math.random()*10e12);

    function generateScript(src_1, src_2){
      var script = document.createElement('script');
      var script_link = src_1 + ord + src_2;
      script.src = script_link;
      $('head').append(script);
    };

    /*-- DoubleClick - SWISS Logo --*/
    generateScript(
      "https://ad.doubleclick.net/ddm/trackimpj/N9207.1692340SECRETESCAPES.COM/B10463975.139728219;dc_trk_aid=311980533;dc_trk_cid=75301610;ord=", ";dc_lat=;dc_rdid=;tag_for_child_directed_treatment=?");

    /*-- DoubleClick - Overview Section --*/
    generateScript(
      "https://ad.doubleclick.net/ddm/trackimpj/N9207.1692340SECRETESCAPES.COM/B10463975.139728221;dc_trk_aid=311970487;dc_trk_cid=75295601;ord=", ";dc_lat=;dc_rdid=;tag_for_child_directed_treatment=?");

  </script>

  <!-- DoubleClick - SWISS Logo -->
  <script language='javascript1.1' src="https://pixel.adsafeprotected.com/rjss/st/66466/11136982/skeleton.js"></script>
  <noscript><img src="https://pixel.adsafeprotected.com/rfw/st/66466/11136981/skeleton.gif" border=0 width=1 height=1 alt=""></noscript>

  <!-- DoubleClick - Overview Section -->
  <script language='javascript1.1' src="https://pixel.adsafeprotected.com/rjss/st/66466/11136953/skeleton.js"></script>
  <noscript><img src="https://pixel.adsafeprotected.com/rfw/st/66466/11136952/skeleton.gif" border=0 width=1 height=1 alt=""></noscript>

</div>