---
layout: default
title: Overview
class: overview
nav-order: 1
intro:      >
            Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas sed diam eget risus varius blandit sit amet non magna.
---



<section class="banner site-header__offset" style="background-image: url({{site.baseurl}}/img/bg/bg-{{page.class}}.jpg);">

  <div class="banner__wrap row row--padding">
    <h1>
      <img class="js-svg-swap banner__title-image" src="{{ site.baseurl }}/img/content/title.png" alt="{{ page.title }}">
    </h1>
  </div>

  <div class="banner__description">
    <div class="row row--padding align-center">
      <p class="lead-paragraph">{{ page.intro }}</p>
    </div>
  </div>

</section>

<section class="bg-color bg-color-correct">
  <div class="row row--padding row--columns-6-6-gutters row--columns-vertical-align column-overlap">
    <div class="row__column column-overlap__text">
      <h2>Why Switzerland?</h2>
      <p>Switzerland deserves more than a typical destination guide (the internet is already full of those). Secret Escapes want to give you a real under the skin feel for one of the most beautiful places in the world. We’re itching to show you just how spectacular it is in summer.</p>
      <p>Secret Escapes and Swiss International Air Lines will also be bringing you exclusive offers on flights and hotels so there will be no excuse not to book your flight immediately.</p>
      <h5>SWISS flights from £55 one-way*</h5>
      <a href="" class="btn btn--red">Book now</a>
    </div>
    <div class="row__column column-overlap__image">
      <div class="img-block">
        <div class="img-block__major bg-image-ratio bg-image-ratio--3-2" style="background-image: url('{{site.baseurl}}/img/content/why-1.jpg');"></div>
        <div class="img-block__minor">
          <div class="img-block__image bg-image-ratio bg-image-ratio--3-2" style="background-image: url('{{site.baseurl}}/img/content/why-2.jpg');"></div>
          <div class="img-block__image bg-image-ratio bg-image-ratio--3-2" style="background-image: url('{{site.baseurl}}/img/content/why-3.jpg');"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section--padding overview-nav overlap--large">
  <div class="row row--padding">
    <!-- gets all content sections -->
    {% assign largenav = site.pages | sort:"nav-order" %}
    {% for item in largenav %}
    {% if item.home-link %}
      <div class="overview-nav__item row__column overlap__image" style="background-image: url('{{site.baseurl}}/img/bg/bg-{{item.class}}.jpg');">
        <a class="overview-nav__link" href="{{site.baseurl}}{{ item.url }}">
          <span class="overview-nav__wrap">{{item.title}}</span>
        </a>
      </div>
    {% endif %}
    {% endfor %}

  </div>
</section>


{% include competition-section.html %}


{% include swiss-promo.html %}

