---
layout: default
title: Travel
class: travel
nav-order: 6
intro: >
   Your holiday shouldn’t start when you arrive at your hotel, it should begin when you check-in at the airport. Comfort starts here, with airport lounges catering to the most discerning of travellers, and offering luxury without bounds. In-flight, the service continues, with a range of great perks to make your journey as relaxed as possible. This is Swiss hospitality.
---



<section class="banner site-header__offset" style="background-image: url({{site.baseurl}}/img/bg/bg-{{page.class}}.jpg);">

  <div class="banner__wrap row row--padding">
    <h1 class="banner__title">{{ page.title }}</h1>
  </div>

  <div class="banner__description">
    <div class="row row--padding align-center">
      <p class="lead-paragraph">{{ page.intro }}</p>
      <hr>
      <h5>SWISS flights from £49 one-way*</h5>
      <a href="https://ad.doubleclick.net/ddm/trackclk/N9207.1692340SECRETESCAPES.COM/B10463975.139729332;dc_trk_aid=311980533;dc_trk_cid=75301610;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=" class="btn btn--red">Book now</a>
    </div>
  </div>

</section>



<div class="section--padding-top ">
  <div class="row">
    <h2 class="line-title"><span>Luxury lounges</span></h2>
  </div>
</div>



<div class="section--padding-top">
  <div class="row row--columns-6-6-gutters">
    <div class="section__image row__column">
      <div
        class="bg-image-ratio bg-image-ratio--21-9"
        style="background-image: url({{site.baseurl}}/img/{{ page.class }}/swiss-zurich1.jpg);">
      </div>
      <div class="row--columns-6-6">
        <div
          class="row__column bg-image-ratio bg-image-ratio--16-9"
          style="background-image: url({{site.baseurl}}/img/{{ page.class }}/swiss-zurich2.jpg);">
        </div>
        <div
          class="row__column bg-image-ratio bg-image-ratio--16-9"
          style="background-image: url({{site.baseurl}}/img/{{ page.class }}/swiss-zurich3.jpg);">
        </div>
      </div>
    </div>

    <div class="section__content row__column row--padding">
      <h3>Zurich Lounge</h3>
      <p class="lead-paragraph">Pure luxury awaits at the SWISS Zurich lounge at Zurich airport.</p>
      <p>From two hotel rooms, conference room, mini suites, champagne bar and two restaurants, SWISS supplies everything you could possibly need. A wine humidor offers over 1000 bottles from all over the world, a perfect accompaniment to the à la carte selections on offer. The Senator Lounge has its own whisky bar with over 120 different tipples, and chefs are on call to cook in front of wherever you choose to rest. Just don’t forget about the flight!</p>
      <a class="btn btn--large" href="https://ad.doubleclick.net/ddm/trackclk/N9207.1692340SECRETESCAPES.COM/B10463975.139728222;dc_trk_aid=311970487;dc_trk_cid=75295601;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=">Find out more</a>
    </div>

  </div>
</div>



<div class="page-section page-section--padding page-section--odd section--padding">
  <div class="row row--columns-6-6-gutters">
    <div class="section__image row__column">
      <div
        class="bg-image-ratio bg-image-ratio--21-9"
        style="background-image: url({{site.baseurl}}/img/{{ page.class }}/swiss-geneva1.jpg);">
      </div>
      <div class="row--columns-6-6">
        <div
          class="row__column bg-image-ratio bg-image-ratio--16-9"
          style="background-image: url({{site.baseurl}}/img/{{ page.class }}/swiss-geneva2.jpg);">
        </div>
        <div
          class="row__column bg-image-ratio bg-image-ratio--16-9"
          style="background-image: url({{site.baseurl}}/img/{{ page.class }}/swiss-geneva3.jpg);">
        </div>
      </div>
    </div>

    <div class="section__content row__column row--padding">
      <h3>Geneva Lounge</h3>
      <p class="lead-paragraph">Feel pampered in the Geneva Lounge, for maximum comfort on your onward journey.</p>
      <p>Kick back in the Geneva Lounge with personal service that always goes the extra mile. With the advantage of a short walk to your boarding gate, you’ll have plenty of time to enjoy a light meal before jetting off to your destination. If you’re on business, pop over to the E-Corner to catch up with your emails in peace. SWISS will happily cater to any needs you have.</p>
      <a class="btn btn--large" href="https://ad.doubleclick.net/ddm/trackclk/N9207.1692340SECRETESCAPES.COM/B10463975.139728225;dc_trk_aid=311970487;dc_trk_cid=75295601;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=">Find out more</a>
    </div>

  </div>
</div>


<div class="bg-color">
  <div class="row row--padding row--columns-7-5-gutters row--columns-vertical-align offer  row--column-padding">
    <div class="row__column offer__image">
      <a href="#" class="bg-image-ratio bg-image-ratio--3-2" style="background-image: url('{{ site.baseurl }}/img/content/flights-skigear.jpg')"></a>
    </div>
    <div class="row__column offer__details">
      <h3>Ski Equipment Flies For Free</h3>
      <p>Don’t fork out extra when going on a ski-holiday; fly with SWISS who understand your needs. Ski equipment flies for free, making sure you have the best possible time in Switzerland’s famous resorts. As long as the equipment does not exceed your overall baggage allowance, there will be no extra cost incurred.</p>
      <a href="https://ad.doubleclick.net/ddm/trackclk/N9207.1692340SECRETESCAPES.COM/B10463975.139728223;dc_trk_aid=311970487;dc_trk_cid=75295601;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=" class="btn btn--large">Find out more</a>
    </div>
  </div>
</div>



{% assign flight_classes = site.data.flight-classes.classes | sort: 'price' %}
<div class="page-section page-section--padding">
  <div class="row row--padding">

    <h2 class="line-title"><span>Taking off</span></h2>

    <div class="tab-area">

      <!-- TAB NAV
      =====================-->
      <ul class="tab-area__nav clearfix row--columns-4-4-4">
      {% for flight_class in flight_classes %}
        <li class="row__column">
          <a href="#" class="tab-area__nav-item {% if forloop.first %}tab-area__nav-item--active{% endif %}" data-tab="tab-{{ flight_class.class }}">{{ flight_class.title }}</a>
        </li>
      {% endfor %}
      </ul>

      <!-- TABS
      =====================-->
      <div class="row tab-area__tabs">

        {% for flight_class in flight_classes %}
        <div id="tab-{{ flight_class.class }}" class="tab-area__tab {% if forloop.first %}tab-area__tab--active{% endif %}">

          <a href="#" class="tab-area__tab-content bg-image-ratio bg-image-ratio--21-9" style="background-image: url({{site.baseurl}}/img/{{ page.class }}/swiss-{{ flight_class.class }}-main.jpg);" alt="{{ flight_class.title }}">
          </a>

          <div class="tab-area__tab-content row--padding align-center">
            <p class="lead-paragraph">{{ flight_class.introduction }}</p>
          </div>

          <div class="tab-area__tab-content row--padding row--columns-4-4-4 row--columns-4-4-4-gutters">
            <div class="row__column">{{ flight_class.col1 }}</div>
            <div class="row__column">{{ flight_class.col2 }}</div>
            <div class="row__column">{{ flight_class.col3 }}</div>
          </div>
          <div class="tab-area__tab-content row--padding">
            <a href="{{ flight_class.link }}" class="btn btn--large">Book now</a>
          </div>

        </div>
        {% endfor %}
      </div>

    </div><!-- end tab-area -->

  </div>
</div>


{% include competition-section.html %}



<div class="hidden">

  <script type="text/javascript">

    var ord = Number(ord) || Math.floor(Math.random()*10e12);

    function generateScript(src_1, src_2){
      var script = document.createElement('script');
      var script_link = src_1 + ord + src_2;
      script.src = script_link;
      $('head').append(script);
    };

    /*-- DoubleClick - SWISS Logo --*/
    generateScript(
      "https://ad.doubleclick.net/ddm/trackimpj/N9207.1692340SECRETESCAPES.COM/B10463975.139728221;dc_trk_aid=311970487;dc_trk_cid=75295601;ord=", ";dc_lat=;dc_rdid=;tag_for_child_directed_treatment=?");

    /*-- DoubleClick - Flights & Offers Page - View/Book CTA --*/
    generateScript(
      "https://ad.doubleclick.net/ddm/trackimpj/N9207.1692340SECRETESCAPES.COM/B10463975.139729332;dc_trk_aid=311980533;dc_trk_cid=75301610;ord=", ";dc_lat=;dc_rdid=;tag_for_child_directed_treatment=?");

    /*-- DoubleClick - Flights & Offers Page - Zurich Lounges --*/
    generateScript(
      "https://ad.doubleclick.net/ddm/trackimpj/N9207.1692340SECRETESCAPES.COM/B10463975.139728222;dc_trk_aid=311970487;dc_trk_cid=75295601;ord=", ";dc_lat=;dc_rdid=;tag_for_child_directed_treatment=?");

    /*-- DoubleClick - Flights & Offers Page - Geneva Lounges --*/
    generateScript(
      "https://ad.doubleclick.net/ddm/trackimpj/N9207.1692340SECRETESCAPES.COM/B10463975.139728225;dc_trk_aid=311970487;dc_trk_cid=75295601;ord=", ";dc_lat=;dc_rdid=;tag_for_child_directed_treatment=?");

    /*-- DoubleClick - Flights & Offers Page - First Book Now --*/
    generateScript(
      "https://ad.doubleclick.net/ddm/trackimpj/N9207.1692340SECRETESCAPES.COM/B10463975.139729333;dc_trk_aid=311970487;dc_trk_cid=75295601;ord=", ";dc_lat=;dc_rdid=;tag_for_child_directed_treatment=?");

    /*-- DoubleClick - Flights & Offers Page - Business Book Now --*/
    generateScript(
      "https://ad.doubleclick.net/ddm/trackimpj/N9207.1692340SECRETESCAPES.COM/B10463975.139728224;dc_trk_aid=311970487;dc_trk_cid=75295601;ord=", ";dc_lat=;dc_rdid=;tag_for_child_directed_treatment=?");

    /*-- DoubleClick - Flights & Offers Page - Economy Book Now --*/
    generateScript(
      "https://ad.doubleclick.net/ddm/trackimpj/N9207.1692340SECRETESCAPES.COM/B10463975.139728226;dc_trk_aid=311970487;dc_trk_cid=75295601;ord=", ";dc_lat=;dc_rdid=;tag_for_child_directed_treatment=?");

  </script>

  <!-- DoubleClick - SWISS Logo -->
  <script language='javascript1.1' src="https://pixel.adsafeprotected.com/rjss/st/66466/11136982/skeleton.js"></script>
  <noscript><img src="https://pixel.adsafeprotected.com/rfw/st/66466/11136981/skeleton.gif" border=0 width=1 height=1 alt=""></noscript>

  <!-- DoubleClick - Flights & Offers Page - View/Book CTA -->
  <script language='javascript1.1' src="https://pixel.adsafeprotected.com/rjss/st/66466/11137018/skeleton.js"></script>
  <noscript><img src="https://pixel.adsafeprotected.com/rfw/st/66466/11137017/skeleton.gif" border=0 width=1 height=1 alt=""></noscript>

  <!-- DoubleClick - Flights & Offers Page - Zurich Lounges -->
  <script language='javascript1.1' src="https://pixel.adsafeprotected.com/rjss/st/66466/11136984/skeleton.js"></script>
  <noscript><img src="https://pixel.adsafeprotected.com/rfw/st/66466/11136983/skeleton.gif" border=0 width=1 height=1 alt=""></noscript>

  <!-- DoubleClick - Flights & Offers Page - Geneva Lounges -->
  <script language='javascript1.1' src="https://pixel.adsafeprotected.com/rjss/st/66466/11136990/skeleton.js"></script>
  <noscript><img src="https://pixel.adsafeprotected.com/rfw/st/66466/11136989/skeleton.gif" border=0 width=1 height=1 alt=""></noscript>

  <!-- DoubleClick - Flights & Offers Page - First Book Now -->
  <script language='javascript1.1' src="https://pixel.adsafeprotected.com/rjss/st/66466/11137012/skeleton.js"></script>
  <noscript><img src="https://pixel.adsafeprotected.com/rfw/st/66466/11137011/skeleton.gif" border=0 width=1 height=1 alt=""></noscript>

  <!-- DoubleClick - Flights & Offers Page - Business Book Now -->
  <script language='javascript1.1' src="https://pixel.adsafeprotected.com/rjss/st/66466/11136988/skeleton.js"></script>
  <noscript><img src="https://pixel.adsafeprotected.com/rfw/st/66466/11136987/skeleton.gif" border=0 width=1 height=1 alt=""></noscript>

  <!-- DoubleClick - Flights & Offers Page - Economy Book Now -->
  <script language='javascript1.1' src="https://pixel.adsafeprotected.com/rjss/st/66466/11136974/skeleton.js"></script>
  <noscript><img src="https://pixel.adsafeprotected.com/rfw/st/66466/11136973/skeleton.gif" border=0 width=1 height=1 alt=""></noscript>

</div>



