
<div class="section bg-color">

  <div class="row row--padding row--columns-7-5-gutters offer row--column-padding">
    <div class="row__column offer__image">
      <a href="{{ offer.link }}"><div class="bg-image-ratio bg-image-ratio--3-2" style="background-image: url('{{ site.baseurl }}/img/content/competition.jpg')"></div></a>
    </div>
    <div class="row__column offer__details">
      <h2>Win a luxury Swiss escape</h2>
      <p>The perfect Winter chalet getaway could be yours – just click below to find out more</p>
      <a href="{{ site.baseurl }}/competition" class="btn btn--large btn--red">Enter now</a>
    </div>
  </div>

</div>