
<footer class="site-footer">
  <div class="site-footer__copyright row">
    <p>© Copyright <span class="js-year">2016</span> Secret Escapes</p>
    <div class="site-footer__terms">
      <p>*1 pair of skis or 1 snowboard, 1 pair of ski poles, 1 pair of ski boots or 1 pair of snowboard boots travel free of charge and in addition to standard baggage allowance. Price quoted as one-way, per person including airport taxes and surcharges departing from London Gatwick to Geneva (advertised route is operated 17/12/16 until 25/03/17). Price correct at the time of production and is subject to change and exchange rate variations. Availability is limited and on some payment methods a charge of 1.65% may apply.</p>
      <p>£25 can be claimed back after booking a break to Switzerland. The £25 will refunded directly back on to the card used to process the transaction. Please email media.team@secretescapes.com to claim your £25 cash back and state your transaction ID and email address that the booking was made under. This is valid on all booking made between 21.10.2016 and 31.12.2016.</p>
    </div>
  </div>
  <div class="site-footer__top">
    <a class="site-footer__top-link" href="#top">Back To Top</a>
  </div>
</footer>