<div class="offers section--padding row">
  <div class="row row--padding">
    <h2 class="line-title">
      <span>Offers</span>
    </h2>
    <p class="offers__intro lead-paragraph">Grab your skis and take advantage of these fantastic offers brought to you by your Secret Escapes team – plus claim back an extra £25 on your booking. Hit the slopes in no time!</p>
  </div>
  <div class="row">
    <!-- shows offers in page category -->
    {% assign offers = site.data.offers | sort: 'price' %}
    {% for offer in offers limit: 1 %}
      {% include offer-block.html %}
    {% endfor %}
  </div>
  <div class="row">
    <a href="{{ site.baseurl }}/offers" class="btn btn--red">VIEW ALL OFFERS</a>
  </div>
</div>