


<div class="page-section page-section--padding swiss-promo" style="background-image: url({{ site.baseurl }}/img/bg/swiss-promo.jpg);">

  <div class="row row--padding row--columns-6-6">
    <div class="row__column">
      <h3>Flying with SWISS</h3>
      <p>At SWISS, we don’t just want you to be a passenger; we want you to be our guest. We don’t just want you to eat; we want you to savour local specialities. But mostly, we want you to feel at home when you travel. Because SWISS is “Made of Switzerland”.</p>
      <a href="{{ site.baseurl }}/travel" class="btn btn--red">Find out more</a>
    </div>
  </div>

</div>