<div class="section--padding-top"></div>
<div class="row">
  <div class="swiss-promo bg-color-correct row row--margin row--columns-vertical-align">
    <div class="row__column">
      <h3>Save an extra £25 with SWISS</h3>
      <p>To get your trip to Switzerland off to the best start possible, SWISS are giving Secret Escapes members an extra £25 off flights to Zurich or Geneva. Just make sure you're one of the first 1000 members to use the code <strong>SWISSESCAPE16</strong>.</p>
      <a href="http://secretescap.es/299Z2O2" class="btn btn--red">Book Now</a>
    </div>
  </div>
</div>