


<div class="page-section page-section--padding swiss-promo" style="background-image: url({{ site.baseurl }}/img/bg/swiss-promo.jpg);">

  <div class="row row--padding row--columns-6-6">
    <div class="row__column">
      <h3>Flying with SWISS</h3>
      <p>SWISS is set to perfect your Winter wanderlust with warm Swiss hospitality. Make your journey as comfortable as possible, with free ski equipment transport ready to take the load off. Fly to your Swiss adventure from as little as £49 one-way*, and realise your perfect Winter wonderland today. </p>
      <a href="#" class="btn btn--red">Book now</a>
    </div>
  </div>

</div>