// styles for the article pages - article layout


.article {
  padding-top: 1px; margin-top: -1px; // fix for parent inheriting child margin
  &__bg {
    position: absolute;
    left: 0;
    right: 0;
    height: 26.867em;
    background-size: cover;
    background-position: center;
    background-color: $sw-black;
    z-index: $z-background;
    @include border-bottom;
  }
  &__wrap {
    margin-top: 8.681em;
    margin-left: ( $margin / 1.75 );
    margin-right: ( $margin / 1.75 );
  }
  &__nav {
    &--top {
      border-bottom: 1px solid $sw-beige;
    }
  }
  &__nav-link {
    position: relative;
    z-index: $z-content;
    display: inline-block;
    width: 50%;
    padding-top: 0.833em;
    padding-bottom: 0.833em;
    text-align: center;
    color: $sw-red;
    font-family: $title-font-family;
    font-weight: 400;
    letter-spacing: .2em;
    line-height: 1;
    background-color: $white;
    background-color: $sw-lighter-beige-85;
    transition: background-color $transition-time ease;
    &:before {
      // box and left & right arrow icons
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      display: block;
      width: 2.200em;
      background-size: 1em;
      background-repeat: no-repeat;
      background-position: center;
    }
    &--previous {
      padding-left: 2.200em;
      &:before {
        left: 0;
        background-image: url("../img/icon/arrow-left-red.png");
        border-right: 1px solid $sw-beige;
        .svg & { background-image: url("../img/icon/arrow-left-red.svg"); }
      }
    }
    &--next {
      border-left: 1px solid $sw-beige;
      padding-right: 2.200em;
      &:before {
        right: 0;
        background-image: url("../img/icon/arrow-right-red.png");
        border-left: 1px solid $sw-beige;
        .svg & { background-image: url("../img/icon/arrow-right-red.svg"); }
      }
    }
    &:hover {
      text-decoration: none;
      background-color:  $sw-light-beige;
    }
  }
  &__page {
    position: relative;
    z-index: $z-content-upper;
    padding: 0 ( $margin / 1.25 ) ( $margin / 1.25 );
    background-color: $white;
    @include box-shadow;
    > p:first-of-type {
      font-size: 1.2em;
      line-height: 1.66
    }
    h2 {
      margin-bottom: 1em;
      text-align: center;
    }
  }
  &__header {
    padding-top: 2.25em;
    padding-bottom: 2.25em;
    text-align: center;
  }
  &__title {
    margin-bottom: .1em;
    font-size: 3.375em;
    font-family: $title-font-family;
    font-weight: 300;
    letter-spacing: .2em;
  }
  &__author {
    font-family: $title-font-family;
    letter-spacing: .3em;
    text-transform: uppercase;
    font-size: 0.833em;
    font-weight: 500;
    color: $sw-darker-beige !important;
  }
  @include bp( large ){
    &__nav--bottom {
      display: none;
    }
    &__wrap {
      margin-left: auto;
      margin-right: auto;
      padding-left: 2.933em;
      padding-right: 2.933em;
    }
    &__page {
      padding: 0 2.933em 2.933em;
    }
    &__title {
      font-size: 4em;
    }
    &__nav {
      margin-left: 2.933em;
      margin-right: 2.933em;
    }
    &__nav-link {
      padding-top: 0.967em;
      // padding-left: 2.933em;
      padding-bottom: 0.967em;
      &:before {
        width: 2.933em;
        background-size: 1.2em;
      }
    }
    &__nav--top {
      border-bottom: 0;
      .article__nav-link {
        color: $white;
        background-color: $sw-black-75;
        &:before {
          background-color: $sw-black-75;
          border: 0;
        }
        &--previous {
          padding-left: 2.933em;
          &:before {
            background-image: url("../img/icon/arrow-left.png");
            .svg & { background-image: url("../img/icon/arrow-left.svg"); }
          }
        }
        &--next {
          padding-right: 2.933em;
          border-color: $sw-black;
          &:before {
            background-image: url("../img/icon/arrow-right.png");
            .svg & { background-image: url("../img/icon/arrow-right.svg"); }
          }
        }
        &:hover {
          background-color: $sw-black;
        }
      }
    }
    .csstransforms.csstransforms3d & {
       &__nav--top {
        margin-left: auto;
        margin-right: auto;
        .article__nav-link {
          position: absolute;
          top: 3.3em;
          width: 14.667em;
          &:before {
            // box and left & right arrow icons
            left: 0;
            background-color: $sw-black-75;
            transform: rotate(-90deg);
          }
          &--previous {
            left: 0;
            transform: rotate(90deg) translateY(-2.888em);
            transform-origin: top left;
          }
          &--next {
            right: 0;
            padding-right: 0;
            padding-left: 2.933em;
            transform: rotate(90deg) translateX(14.667em);
            transform-origin: top right;
            border: 0;
          }
        }
      }
    }
  }
}

.top-tips {
  text-align: center;
  padding: 2.2em;
  h3 {
    line-height: 1;
    margin-bottom: .5em;
  }
  ol {
    text-align: left;
    font-size: 1em;
  }
  li {
    padding-top: .25em;
    padding-bottom: .25em;
  }
}


.three-sixty {
  padding-top: 10em;
  padding-bottom: 10em;
  color: $white;
  text-align: center;
  background-size: 100%;
  overflow: hidden;
  @include border-bottom;
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-background;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $sw-black;
    @include transition;
  }
  &__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content-upper;
    display: block;
  }
  &__title {
    font-family: $title-font-family;
    color: $white !important;
    font-size: 2.2em;
    letter-spacing: .2em;
    line-height: 1.2;
    @include bp( large ){
      font-size: 3.33em;
    }
  }
  &__title-small {
    display: block;
    font-size: .36em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .2em;
  }
  &__icon {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1.467em;
    height: 4.467em;
    width: 4.467em;
    margin-right: auto;
    margin-left: auto;
    @include transition;
    &--video {
      width: 13.067em;
    }
  }
  &:hover {
    .three-sixty__bg {
      transform: scale(1.1,1.1);
    }
    .three-sixty__icon {
      bottom: 2.2em;
    }
  }
}

.bleed-width {
  margin-left: -1.6em;
  margin-right: -1.6em;
  @include bp(large){
    margin-right: -2.933em;
    margin-left: -2.933em;
  }
}

.three-sixty-content {
  color: $white;
  text-align: center;
  background-color: $sw-black;
  background-size: cover;
  overflow: hidden;
  @include border-bottom;
  @include bp( large ){
    position: relative;
  }
  &__thumbnail {
    z-index: $z-content-upper;
    height: 100%;
    width: 100%;
    padding-top: 7.5em;
    padding-bottom: 7.5em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-size: cover;
    @include bp( large ){
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0;
    }
  }
  &__title-wrap {
    vertical-align: middle;
    word-break: break-word;
    @include bp( medium ){
      word-break: initial;
    }
    @include bp( large ){
      position: absolute;
      z-index: $z-content-upper;
      top: 40%;
      left: 0;
      right: 0;
      .csstransforms.csstransforms3d & {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  &__icon {
    position: relative;
    z-index: $z-content-upper;
    margin: 1em;
    height: 4.467em;
    width: 4.467em;
    @include bp( large ){
      display: inline-block;
      vertical-align: middle;
    }
    @include bp( xlarge ){
      height: 5.063em;
      width: 5.063em;
    }
  }
  &__title {
    position: relative;
    z-index: $z-content-upper;
    margin-bottom: 0;
    font-family: $title-font-family;
    color: $white !important;
    font-size: 2.986em;
    letter-spacing: .2em;
    line-height: 1.2;
    @include bp( large ){
      text-align: left;
      display: inline-block;
      vertical-align: middle;
    }@include bp( xlarge ){
      font-size: 3.33em;
    }
  }
  &__subtitle {
    display: block;
    font-size: .36em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .2em;
  }
  &__links {
    z-index: $z-content-upper;
    @include bp( large ){
      position: absolute;
      left: 0;
      right: 0;
      bottom: 1.467em;
      text-align: center;
      > a.btn {
        width: 48%;
        margin-left: .75%;
        margin-right: .75%;
      }
    }
  }
   &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $sw-black;
    @include transition;
  }
  &__iframe-wrap {
    position: relative;
    height: 0;
    max-width: 100%;
    @include bp( large ){
      padding-bottom: 56.25%;
    }
  }
  &__iframe {
    position: absolute;
    top: 0;
    left: 0;
    z-index: $z-content;
    width: 100%;
    height: 100%;
  }
  &.is-playing &__iframe-wrap {
    padding-bottom: 56.25%;
  }
  &:hover &__bg {
    transform: scale(1.1,1.1);
  }
}