// global variables & useful tools


// -------- colors --------

$white:       #fff;
$black:       #000;
$white-25:    rgba(255,255,255,.25);
$white-33:    rgba(255,255,255,.33);
$white-5:     rgba(255,255,255,.5);
$white-66:    rgba(255,255,255,.66);
$white-75:    rgba(255,255,255,.75);
$white-85:    rgba(255,255,255,.85);
$black-25:    rgba(0,0,0,.25);
$black-33:    rgba(0,0,0,.33);
$black-5:     rgba(0,0,0,.5);
$black-66:    rgba(0,0,0,.66);
$black-75:    rgba(0,0,0,.75);
$black-85:    rgba(0,0,0,.85);

$se-orange:       #ff8c00;
$se-orange-20:    rgba(255,140,0,.20);
$se-orange-66:    rgba(255,140,0,.66);
$se-orange-85:    rgba(255,140,0,.85);
$se-light-grey:   #dadada;
$se-dark-grey:    #292728;
$se-dark-grey-33: rgba(41,39,40,.33);
$se-dark-grey-5:  rgba(41,39,40,.5);
$se-dark-grey-85: rgba(41,39,40,.85);

$sw-red:      #be1902;
$sw-red-33:   rgba(190,25,2,.33);
$sw-red-75:    rgba(190,25,2,.75);
$sw-dark-red: #a31402;
$sw-blue:     #1390bc;

$sw-darker-grey:  #333333;
$sw-dark-grey:    #555555;
$sw-grey:         #808080;
$sw-light-grey:   #bfbfbf;
$sw-lighter-grey: #d9d9d9;

$sw-darker-beige:     #7f7978;
$sw-dark-beige:       #bab6ae;
$sw-beige:            #d6d3cc;
$sw-beige-75:         rgba(214,211,204,.75);
$sw-light-beige:      #edece8;
$sw-light-beige-85:   rgba(237,236,232,.85);
$sw-lighter-beige:    #f5f4f1;
$sw-lighter-beige-85: rgba(245,244,241,.85);

$sw-black:    #333333;
$sw-black-25: rgba(51,51,51,.25);
$sw-black-5:  rgba(51,51,51,.5);
$sw-black-75: rgba(51,51,51,.75);

$text-black:  $sw-darker-grey;
$light-grey:  #f2f2f2;


// -------- breakpoints --------

$xxlarge: 970px;
$xlarge:  850px;
$large:   650px;
$medium:  450px;
$small:   330px;

@mixin bp($width){
  @if $width == xxlarge {
    @media (min-width:$xxlarge) {@content;}
  }
  @if $width == xlarge {
    @media (min-width:$xlarge) {@content;}
  }
  @if $width == large {
    @media (min-width:$large) {@content;}
  }
  @if $width == medium {
    @media (min-width:$medium) {@content;}
  }
  @if $width == small {
    @media (min-width:$small) {@content;}
  }
}

// vertical breakpoint for small screen mobile
@mixin bp-vertical {
  @media (max-height:$medium) and (max-width:$large) { @content; }
}


// -------- global box-sizing & font smoothing --------

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
          font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}


// -------- responsive images --------

img {
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}
.js-svg-swap {
  max-width: 100%;
  width: 100%;
}


// -------- text link style --------

a {
  color: inherit;
  text-decoration:none;
  &:hover { text-decoration: underline; }
}


// -------- enable 100% height --------

body, html { height: 100%; }


// -------- general transition --------

$transition-time: .25s;
@mixin transition() { transition: all $transition-time ease; }


// -------- clearfix --------

@mixin clearfix() {
  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}


// -------- accessible hiding --------

.hidden {
  position: absolute;
  left: -9999em;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}


// -------- z-index values --------

$z-overlay-upper:     20;
$z-overlay:           10;
$z-content-upper:     5;
$z-content:           0;
$z-background:        -1;
$z-background-lower:  -2;


// -------- background image ratios - with photo credit optional --------

.bg-image-ratio {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  &:before {
    display: block;
    content: "";
    width: 100%;
  }
  .photo-credit {
    position: absolute;
    bottom: -3em;
    right: 0;
    padding: 0.5em 1.5em;
    color: $white;
    font-size: .85em;
    background-color: $black-5;
    @include transition;
    &:hover {
      background-color: $black-85;
    }
  }
  &:hover .photo-credit {
    bottom: 0;
  }
}
.bg-image-ratio--2-3:before   { padding-top: 150%; }
.bg-image-ratio--1-1:before   { padding-top: 100%; }
.bg-image-ratio--4-3:before   { padding-top: 75%; }
.bg-image-ratio--3-2:before   { padding-top: 66.666666666667%; }
.bg-image-ratio--16-9:before  { padding-top: 56.25%; }
.bg-image-ratio--21-9:before  { padding-top: 42.8571429%; }


// -------- shared styles --------

@mixin border-bottom() { border-bottom: 3px solid $sw-red; }
@mixin box-shadow() { box-shadow: 0px 5px 20px 2px rgba(71,66,63,0.25); }
.box-shadow { @include box-shadow; }


// -------- br only appears full width --------

.desktop-break {
  display: none;
  @include bp( xlarge ){
    display: block;
  }
}