// site header and navigation styles
$site-header-offset: 115px;

header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: $z-overlay-upper;
}

// -------- Main navigation --------

.site-header {
  color: $white;
  font-family: $core-font-family;
  background-color: $black-75;
  padding: 1.25em 0;
  height: 70px;
  overflow: hidden;
  text-align: center;
  @include bp( xlarge ) {
    padding: .6em 2em;
  }
  &__offset:before { display: block; content: ""; width: 100%; height: $site-header-offset; }
}

.site-header__logo {
  margin-right: 0;
  padding: 0;
  @include bp( xlarge ) {
    float: left;
    border-right: 1px solid rgba(255,255,255,0.15);
    margin-right: 15px;
    padding: 0.8em 15px 0.8em 0;
  }

  img {
    width: 190px;
    @include bp( xlarge ) {
      width: 175px;
    }
  }
}

.site-header__logo--partner {
  display: none;
  @include bp( xlarge ) {
    display: block;
    float: right;
    width: auto;
    padding: 0.5em 0;
    height: 48px;
  }
}

.site-header__nav {
  position: fixed;
  float: none;
  top: 0;
  left: -75%;
  z-index: $z-overlay-upper;
  width: 75%;
  height: 100%;
  background-color: $black-75;
  transition: left $transition-time ease;
  text-align: left;
  @include bp( xlarge ) {
    position: static;
    float: left;
    width: auto;
    height: auto;
    padding: 0;
    background-color: transparent;
  }
  @include bp-vertical {
    overflow-y: scroll;
  }
}

.site-header__nav-list {
  border-bottom: 1px solid rgba(255,255,255,0.1);
  @include bp( xlarge ) {
    border-bottom: 0;
  }
}

.site-header__nav-item {
  border-top: 1px solid rgba(255,255,255,0.1);
  @include bp( xlarge ) {
    display: inline-block;
    padding-right: 1em;
    border-top: 0;
  }
}

.site-header__nav-link {
  @include transition;
  display: block;
  padding: .694em 1em;
  color: $se-light-grey;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  &:hover {
    color: $se-orange;
    background-color: $black-85;
    text-decoration: none;
  }
  &--current { color: $se-orange; }
  @include bp( xlarge ) {
    padding: 1.3em 0;
    font-size: .833em;
    &:hover { background-color: transparent; }
  }
}


// -------- Mobile navigation --------

$icon-height: 21px;
.mobile-icon {
  height: $icon-height;
  width: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto $icon-height;
  cursor: pointer;
  @include bp( xlarge ) {
    display: none;
  }
}

.mobile-icon__menu {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -( $icon-height / 2 );
  background-image: url( "../img/icon/menu.png" );
  .svg & { background-image: url( "../img/icon/menu.svg" ); }
  &--open { display: none; }
}

.mobile-icon__close {
  margin: 1em;
  margin-top: 1.5em;
  background-image: url( "../img/icon/close.png" );
  border-top: 0;
  .svg & { background-image: url( "../img/icon/close.svg" ); }
}

.mobile-menu--open { left: 0; }

.mobile-menu__logo {
  position: absolute;
  bottom: 0;
  width:100%;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: $black-5;
  text-align: center;
  @include bp( xlarge ) {
    display: none;
  }
  @include bp-vertical {
    position: static;
  }
  img {
    display: inline;
    width: 150px;
    vertical-align: middle;
    padding-top: .833em;
    padding-bottom: .833em;
    @include bp( xlarge ) {
      display: none;
    }
  }
}

// -------- Microsite navigation --------

.microsite-nav {
  z-index: $z-overlay;
  text-align: center;
  overflow: hidden;
  height: 45px;

  background-color: $white-5;

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjkiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(top,  rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.5) 100%);
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.5) 100%);
  background: linear-gradient(to bottom,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ffffff', endColorstr='#80ffffff',GradientType=0 );
}

.microsite-nav__list {
  height: 100%;
  position: relative;
  text-align: center;
  white-space: nowrap;
  overflow: scroll;
  overflow-x: auto;
  overflow-y: hidden;
  @include bp( xlarge ) {
    display: inline-block;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    overflow: visible;
  }
  .touch & {
    padding-right: 66px;
    &:before {
      // prompt for horizontal scroll on phone
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: $z-overlay-upper;
      display: block;
      width: 66px;
      height: auto;
      background-image: url("../img/icon/nav-arrow.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 66px auto;
    }
  }
  @include bp( xlarge ) {
    .touch & {
      padding-right: 0;
      &:before {
        display: none;
      }
    }
    width: 100%;
    display: inline-block;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    overflow: visible;
  }
}

.microsite-nav__item {
  display: inline-block;
  text-align: center;
  flex-grow: 1;
  &:first-child { border-left: 0; }
  &--current a {
    color: $sw-red;
  }
}

.microsite-nav__link {
  @include transition;
  display: block;
  padding: 0.5em 1.44em;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .1em;
  padding: 12px 12px;
  height: 100%;
  position: relative;
  color: $sw-dark-grey;
  &:after {
    @include transition;
    content: "";
    height: 2px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    background-color: $sw-red;
  }
  &:hover {
    color: $sw-darker-grey;
    text-decoration: none;
    &:after { bottom: 0; }
  }
}



