

/* PAGE BANNERS
  ========================================= */

.banner {
  padding-top: 0;
  padding-bottom: 0;
  color: $white;
  text-align: center;
  background-size: cover;
  background-position: 50% 60%;
  background-color: #12334c;
  @include border-bottom;

  &__wrap {
    padding-top: 11em;
    padding-bottom: 11em;
  }

  &__title {
    color: $white !important;
    font-family: $title-font-family;
    font-weight: 300;
    letter-spacing: .25em;
    text-shadow: 0px 0px 25px $sw-navy;
    @include bp( small ){
      .text-title {
        position: absolute;
        left: -9999em;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
      }
    }
  }
  &__description {
    padding-top: 2.2em;
    padding-bottom: 2.2em;
    background-color: $sw-navy;

    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMzMzMzMyIgc3RvcC1vcGFjaXR5PSIwLjYiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMzMzMzMyIgc3RvcC1vcGFjaXR5PSIwLjk1Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  rgba(30, 42, 49,0.6) 0%, rgba(30, 42, 49,0.95) 100%);
    background: -webkit-linear-gradient(top,  rgba(30, 42, 49,0.6) 0%,rgba(30, 42, 49,0.95) 100%);
    background: linear-gradient(to bottom,  rgba(30, 42, 49,0.6) 0%,rgba(30, 42, 49,0.95) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99333333', endColorstr='#f2333333',GradientType=0 );
    &--resort {
      position: relative;
      padding-top: 3.7em;
      .resort-data {
        @include transition();
        display: inline-block;
        margin-top: -5em;
        justify-content: space-around;
        overflow: visible;
        opacity: 0;
        width: 100%;
        padding: 0 2em;
        @include bp( large ){
          padding: 0;
          display: flex;
          flex-flow: row nowrap;
        }
        &--ready { opacity: 1; }
        &--item {
          padding: 1em 0.4em;
          margin: 2px 2px;
          background-color: $white-85;
          color: $sw-navy;
          display: block;
          width: 100%;
          text-align: center;
          flex-grow: 1;
          font-size: 0.9em;
          font-weight: 600;
          line-height: 1;
          letter-spacing: 0.15em;
          @include bp( large ){
            margin: 0 2px;
            width: auto;
            display: inline-block;
          }
        }
        &--label {
          background-color: $sw-navy; color: $white;
          text-transform: uppercase;
        }
      }
    }
  }
}



/* STYLES FOR ONLY THE HOMEPAGE
  ========================================= */

.overview-nav {
  @include layout(12 1/2);
  &__item {
    position: relative;
    display: block;
    height: 26em;
    color: $white;
    font-family: $title-font-family;
    letter-spacing: 7.5px; // ie doesn't like em value for letter-spacing
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include box-shadow;
    @include border-bottom;
    @include transition;
    & + & {
      margin-top: $margin;
      @include bp( xlarge ){
        margin-top: 0;
      }
    }
    &:hover {
      & .overview-nav__wrap {
        &:after {
          width: .419em;
          margin-left: .286em;
          opacity: 1;
        }
      }
      & .overview-nav__link {
        text-decoration: none;
        background-color: rgba($sw-navy, 0.7);
      }
    }
  }
  &__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 3em;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMzMiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 50%, rgba(0,0,0,0.33) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 50%,rgba(0,0,0,0.33) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 50%,rgba(0,0,0,0.33) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#54000000',GradientType=0 );
    @include transition;
    @include bp( large ){
      font-size: 3.5em;
    }
  }
  &__wrap {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    @include transition;
    &:after {
      content: '';
      display: inline-block;
      height: .419em;
      width: 0;
      vertical-align: middle;
      background-image: url("../img/icon/arrow-right.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      opacity: 0;
      @include transition;
      .svg & { background-image: url("../img/icon/arrow-right.svg"); }
    }
  }
  @include bp( xlarge ){
    .row__column { @include span( 6 ); }
    .row__column:nth-child( even ) { @include span( last 6 ); }
    &__item {
      &:nth-child(n+3){
        margin-top: gutter();
      }
      &:nth-child(2) {
        margin-top: 4.400em;
      }
    }
  }
}

/* RESORT PAGE SECTIONS
  ========================================= */

.page-section {
  background-size: cover; background-repeat: no-repeat; background-position: center;
  padding-top: 0em; padding-bottom: 0em;
  @include bp( large ){
    padding-top: 8em; padding-bottom: 8em;
  }
  .section__image {
    display: none;
    @include bp( large ){
      display: block;
      box-shadow: 0 5px 20px rgba(0,0,0,0.2); 
    }
  }
  .section__content { padding-top: 2em; padding-bottom: 2em; }

  &--odd {
    .section__image {
      float: right !important;
      margin-right: 0;
    }
    .section__content {
      float: left !important;
      margin-right: 2.85714% !important;
    }
  }

}



/* CUSTOM STYLES FOR THIS SITE
  ========================================= */

.bg-color { background-color: $sw-lighter-beige; }

.img-block {
  &__image {
    float: left;
    width: 50%;
  }
  @include clearfix;
}

.line-title {
  overflow: hidden;
  text-align: center;
  span {
    position: relative;
    display: inline-block;
    &:before,
    &:after {
      // line either side of title effect
      content: '';
      position: absolute;
      top: 50%;
      height: 1px;
      width: 300%;
      background-color: $sw-red-33;
    }
    &:before {
      right: 100%;
      margin-right: 1em;
    }
    &:after {
      left: 100%;
      margin-left: 1em;
    }
  }
}

.swiss-promo {
  background-color: $sw-light-beige;
  background-image: url("../img/bg/swiss-promo-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include border-bottom;
  @include box-shadow;
  .row__column {
    margin: 2.986em 2.2em;
    @include bp( large ){
      width: 48%;
    }
  }
  h3 {
    line-height: 1.33;
  }
  @include bp(large){
    background-image: url("../img/bg/swiss-promo.jpg");
  }
}


