---
layout: default
title: Offers
class: offers
nav-order: 6
home-link: true
intro: >
   Grab your skis and take advantage of these fantastic offers brought to you by your Secret Escapes team – plus claim back an extra £25 on your booking. Hit the slopes in no time!
---



<section class="banner site-header__offset" style="background-image: url({{site.baseurl}}/img/bg/bg-{{page.class}}.jpg);">

  <div class="banner__wrap row row--padding">
    <h1 class="banner__title">{{ page.title }}</h1>
  </div>

  <div class="banner__description">
    <div class="row row--padding align-center">
      <p class="lead-paragraph">{{ page.intro }}</p>
      <hr>
      <h5>SWISS flights from £49 one-way*</h5>
      <a href="https://ad.doubleclick.net/ddm/trackclk/N9207.1692340SECRETESCAPES.COM/B10463975.139729332;dc_trk_aid=311980533;dc_trk_cid=75301610;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=" class="btn btn--red">Book now</a>
    </div>
  </div>

</section>



<div class="section--padding-top ">
  <div class="row">

    {% assign offers = site.data.offers %}
    {% for offer in offers %}
      {% include offer-block.html %}
    {% endfor %}

  </div>
</div>


<div class="section--padding-top "></div>


{% include competition-section.html %}


<!-- SWISS Promo -->
<div class="page-section page-section--padding swiss-promo">

  <div class="row row--padding row--columns-6-6">
    <div class="row__column">
      <h3>Flying with SWISS</h3>
      <p>SWISS is set to perfect your Winter wanderlust with warm Swiss hospitality. Make your journey as comfortable as possible, with free ski equipment transport ready to take the load off. Fly to your Swiss adventure from as little as £49 one-way*, and realise your perfect Winter wonderland today. </p>
      <a href="https://ad.doubleclick.net/ddm/trackclk/N9207.1692340SECRETESCAPES.COM/B10463975.139729332;dc_trk_aid=311980533;dc_trk_cid=75301610;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=" class="btn btn--red">Book now</a>
    </div>
  </div>

</div>



<div class="hidden">

  <script type="text/javascript">

    var ord = Number(ord) || Math.floor(Math.random()*10e12);

    function generateScript(src_1, src_2){
      var script = document.createElement('script');
      var script_link = src_1 + ord + src_2;
      script.src = script_link;
      $('head').append(script);
    };

    /*-- DoubleClick - SWISS Logo --*/
    generateScript(
      "https://ad.doubleclick.net/ddm/trackimpj/N9207.1692340SECRETESCAPES.COM/B10463975.139728219;dc_trk_aid=311980533;dc_trk_cid=75301610;ord=", ";dc_lat=;dc_rdid=;tag_for_child_directed_treatment=?");

    /*-- DoubleClick - Flights & Offers Page - View/Book CTA --*/
    generateScript(
      "https://ad.doubleclick.net/ddm/trackimpj/N9207.1692340SECRETESCAPES.COM/B10463975.139729332;dc_trk_aid=311980533;dc_trk_cid=75301610;ord=", ";dc_lat=;dc_rdid=;tag_for_child_directed_treatment=?");

  </script>

  <!-- DoubleClick - SWISS Logo -->
  <script language='javascript1.1' src="https://pixel.adsafeprotected.com/rjss/st/66466/11136982/skeleton.js"></script>
  <noscript><img src="https://pixel.adsafeprotected.com/rfw/st/66466/11136981/skeleton.gif" border=0 width=1 height=1 alt=""></noscript>

  <!-- DoubleClick - Flights & Offers Page - View/Book CTA -->
  <script language='javascript1.1' src="https://pixel.adsafeprotected.com/rjss/st/66466/11137018/skeleton.js"></script>
  <noscript><img src="https://pixel.adsafeprotected.com/rfw/st/66466/11137017/skeleton.gif" border=0 width=1 height=1 alt=""></noscript>

</div>



