---
layout: default
---


<div class="article">
  <div class="article__bg"></div>
  <div class="article__wrap row">
    <div class="article__nav article__nav--top">
      <a class="article__nav-link article__nav-link--previous" href="{{site.baseurl}}{{page.link-previous}}">{{page.link-title-previous}}</a
      ><a class="article__nav-link article__nav-link--next" href="{{site.baseurl}}{{page.link-next}}">{{page.link-title-next}}</a>
    </div>
    <div class="article__page">
      <div class="article__header">
        <h1 class="article__title">{{page.title}}</h1>
        <!-- <h2 class="article__author">By FirstName Surname</h2> -->
      </div>
      {{ content }}
    </div>
    <div class="article__nav article__nav--bottom">
      <a class="article__nav-link article__nav-link--previous" href="{{site.baseurl}}{{page.link-previous}}">{{page.link-title-previous}}</a
      ><a class="article__nav-link article__nav-link--next" href="{{site.baseurl}}{{page.link-next}}">{{page.link-title-next}}</a>
    </div>
  </div>
</div>

{% include swiss-promo.html %}



{% include section-offers.html %}