---
layout: default
---


<div class="banner site-header__offset" style="background-image: url({{site.baseurl}}/img/bg/bg-{{page.class}}.jpg);">
  <div class="banner__wrap">
    <div class="row row--padding">
      <h1 class="banner__title">{{ page.title }}</h1>
    </div>
  </div>
  <div class="banner__description banner__description--resort">
    <div class="row">
      <div class="resort-data">
        <div class="resort-data--item resort-data--label">Current Conditions</div>
        <div id="temperature" class="resort-data--item"></div>
        <div id="currently" class="resort-data--item"></div>
        {% if page.webcam-link %}
         <div class="resort-data--item">
           <a href="#" class="js-launch-modal">View live webcam</a>
         </div>
         {% endif %}
      </div>
    </div>
    <div class="row row--padding align-center">
      <p class="lead-paragraph">{{ page.intro }}</p>
      <a href="http://secretescap.es/299Z2O2" class="btn btn--red">Book now</a>
    </div>
  </div>
</div>


{% if page.threesixty-link %}
<div class="three-sixty" style="background-image: url('{{site.baseurl}}/img/{{ page.class }}/threesixty-bg.jpg');">

  <div class="three-sixty-content js-three-sixty-content">

    <div class="row three-sixty-content__thumbnail js-three-sixty-thumbnail">
      <div class="three-sixty-content__thumbnail-content">

        <div class="three-sixty-content__thumbnail-content">
          <div class="three-sixty-content__title-wrap row row--padding">
            <img class="js-svg-swap three-sixty-content__icon" src="/swiss/img/icon/three-sixty.png" alt="360 image icon">
            <h3 class="three-sixty-content__title">
              <span class="three-sixty-content__subtitle">See The Sights At</span> {{ page.title }}
            </h3>
          </div>
          <div class="three-sixty-content__links row row--padding">
            <a id="three-sixty-video-hike" class="js-three-sixty-video row__column btn btn--red-trans" href="{{ page.threesixty-link }}">Explore {{ page.title }}</a>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>
{% endif %}



{% for section in page.sections %}

  <div class="page-section page-section--padding {% cycle '', 'page-section--odd' %} section--padding" style="background-image: url('{{site.baseurl}}/img/{{ page.class }}/section-{{section.class}}-bg.jpg');">
    <div class="row--wide row--columns-6-6-gutters">

      <div class="section__image row__column">

        {% if section.images == 3 %}
        <div
          class="bg-image-ratio bg-image-ratio--21-9"
          style="background-image: url({{site.baseurl}}/img/{{ page.class }}/section-{{section.class}}1.jpg);">
        </div>
        <div class="row--columns-6-6">
          <div
            class="row__column bg-image-ratio bg-image-ratio--16-9"
            style="background-image: url({{site.baseurl}}/img/{{ page.class }}/section-{{section.class}}2.jpg);">
          </div>
          <div
            class="row__column bg-image-ratio bg-image-ratio--16-9"
            style="background-image: url({{site.baseurl}}/img/{{ page.class }}/section-{{section.class}}3.jpg);">
          </div>
        </div>
        {% else %}
        <div
          class="bg-image-ratio bg-image-ratio--4-3"
          style="background-image: url({{site.baseurl}}/img/{{ page.class }}/section-{{section.class}}1.jpg);">
        </div>
        {% endif  %}

      </div>

      <div class="section__content row__column row--padding">
        <h2 class="line-title"><span>{{ section.title }}</span></h2>
        <p>
          {{ section.description }}
        </p>
      </div>

    </div>
  </div>

{% endfor %}


<div class="section--padding-top"></div>
{% include competition-section.html %}


{% include offer-section.html %}


{% include swiss-promo.html %}



<!-- Video modal -->
<div class="js-modal modal is-closed" style="display: none;">
  <div class="site-header__offset modal__close-wrapper">
    <div class="js-modal__close modal__close">
      <img width="100%" src="../img/icon/close.png" alt="Close">
    </div>
  </div>
  <div class="modal__content row row--padding row--columns-vertical-align is-closed">
    <div class="js-modal__video modal__video bg-image-ratio--16-9 bg-image-ratio">
      <iframe id="iframe" width="100%" height="100%"  src="{{ page.webcam-link }}" allowfullscreen="true"></iframe>
    </div>
  </div>
</div>



<script>

/*       Get weather
/////////////////////////////////////*/

$(function() {
  $.simpleWeather({
    location: '{{ page.weather-code }}',
    woeid: '',
    unit: 'c',
    success: function(weather) {
      var locTemperature = "<i class='icon-"+weather.code+"'></i> Today: "+weather.temp+"&deg;" +weather.units.temp+" and "+weather.currently;
      var locTomorrow = "<i class='icon-"+weather.forecast[1].code+"'></i>Tomorrow:  "+weather.forecast[1].high+"&deg;"+weather.units.temp+" and "+weather.forecast[1].text;

      $("#temperature").html(locTemperature);
      $("#currently").html(locTomorrow);
      $(".resort-data").addClass('resort-data--ready');
    },
    error: function(error) {
      $("#weather").html('<p>'+error+'</p>');
    }
  });
});
</script>

